<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">

<select id="list" resultType="lecture.LectureVO">
	select * from lectures
</select>

<select id="info" resultType="lecture.LectureVO">
	select * from lectures where lecture_title = #{lecture_title}
</select>

<select id="insert">
	insert into lectures 
</select>

</mapper>