<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<select id="list" resultType="notice.NoticeVO">
		select *
		from notice
		order by id desc
	</select>

	<select id="info" resultType="notice.NoticeVO">
		select *
		from notice
		where title =
		#{title}
	</select>

	<select id="insert">
		insert into notice(title, content, writer, filename,
		filepath)
		values (#{title, jdbcType=VARCHAR}, #{content,
		jdbcType=VARCHAR}, #{writer, jdbcType=VARCHAR}
		, #{filename,
		jdbcType=VARCHAR},
		#{filepath, jdbcType=VARCHAR})
	</select>




</mapper>