<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="score">

	<!-- 해당 교수 과목 조회 -->
	<select id="lecture_title" resultType="score.ScoreVO" >
		select l.lecture_title, l.lecture_num
        from lectures l 
        where l.teacher_name = #{name}
	</select>

	<!-- 특정 년도별 조회 -->
	<select id="lectureYearOne" resultType="score.ScoreVO">
		select l.lecture_title,l.lecture_year, l.subjectcredit,
		l.teacher_name , s.*
		from lectures l left outer join subjectscore s on l.lecture_num =s.lecture_num
		where l.lecture_year = #{year}
		and s.id = #{id}
		order by l.lecture_year,s.semester
	</select>
	
	
	<!-- 년도 조회 -->
	<select id="lectureYear" resultType="score.ScoreVO">
		select Distinct l.lecture_year
        from subjectscore s left outer join lectures l on l.lecture_num = s.lecture_num
        where s.id = #{id}
        order by 1
	</select>

	<!-- 특정과목 조회 -->
	<select id="lectureOne" resultType="score.ScoreVO">
		select l.lecture_title, l.lecture_year, l.subjectcredit,
		l.teacher_name , s.*
		from lectures l left outer join subjectscore s on l.lecture_num =s.lecture_num
		where l.lecture_num = #{num}
		and s.id = #{id}
		order by l.lecture_year,s.semester
	</select>

	<!-- 과목명 조회 -->
	<select id="lectures" resultType="score.LectureVO"> 
		select Distinct l.lecture_title, l.lecture_num, s.id
		from lectures l left outer join subjectscore s on l.lecture_num =s.lecture_num
		where s.id = #{id}
	</select>

	<!-- 리스트 조회 교수 화면(이름)-->
	<select id="search_name" resultType="score.ScoreVO">
		select l.lecture_title, l.lecture_year,
		l.teacher_name, l.subjectcredit , s.*, m.name
		from lectures l left outer join subjectscore s on l.lecture_num =s.lecture_num
        left outer join member m on m.id = s.id
		where l.teacher_name = #{name}
		and m.name like  '%'||#{student}||'%' 
		order by l.lecture_year,s.semester, m.id
	</select>
	
	<!-- 리스트 조회 교수 화면(이름 && 과목)-->
	<select id="lecture_title_lecture" resultType="score.ScoreVO">
		select l.lecture_title, l.lecture_year,
		l.teacher_name, l.subjectcredit , s.*, m.name
		from lectures l left outer join subjectscore s on l.lecture_num =s.lecture_num
        left outer join member m on m.id = s.id
		where l.teacher_name = #{name}
		and m.name like  '%'||#{student}||'%' 
		and l.lecture_num ='%'||#{num}||'%' 
		order by l.lecture_year,s.semester, m.id
	</select>
	
	<!-- 리스트 조회 교수 화면-->
	<select id="list_teacher" resultType="score.ScoreVO">
		select l.lecture_title, l.lecture_year,
		l.teacher_name, l.subjectcredit , s.*, m.name
		from lectures l inner join subjectscore s on l.lecture_num =s.lecture_num
        left outer join member m on m.id = s.id
		where l.teacher_name = #{name}
		order by l.lecture_year,s.semester, m.id
	</select>
	
	<!-- 리스트조회 -->
	<select id="list" resultType="score.ScoreVO">
		select l.lecture_title, l.lecture_year,
		l.teacher_name, l.subjectcredit , s.*
		from lectures l left outer join subjectscore s on l.lecture_num =s.lecture_num
		where s.id = #{id}
		order by l.lecture_year,s.semester
	</select>

</mapper>